# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
out

# dependencies
node_modules
/bower_components

# misc
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

.env*
.vscode-test

**/*.tsbuildinfo
