sudo: false

language: node_js

node_js:
  - "8"
cache:
  yarn: true
  directories:
    - node_modules
os:
  - osx
  - linux
before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn
  - yarn lint
  - yarn run vscode:prepublish

script:
  - yarn test --silent
